@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}

//Media queries
@mixin respond($breakpoint) {
  @if $breakpoint==mobile {
    @media only screen and (max-width: 766px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 767px) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

.container {
  width: 40vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond(mobile) {
    width: 85vw;
  }
  @include respond(tablet) {
    width: 85vw;
  }
  @include respond(desktop) {
    width: 45vw;
  }
}

.list-field {
  height: 4rem;

  &:first-child {
    border-radius: 0.3rem 0.3rem 0px 0px;
  }
  &:last-child {
    border-radius: 0px 0px 0.3rem 0.3rem;
  }
}

//Variables

//Light theme
$white: white;
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(233, 11%, 84%);
$light-grayish-blue: hsl(233, 11%, 84%);
$light-theme-dark-gray: hsl(236, 9%, 61%);
$light-theme-darkest-gray: hsl(235, 19%, 35%);

//Dark theme
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$grayish-blue: hsl(234, 39%, 85%);
$grayish-blue-hover: hsl(236, 33%, 92%);
$dark-theme-dark-gray: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
$dark-theme-darkest-gray: hsl(237, 14%, 26%);
