@mixin header($theme: "dark") {
  .header {
    transition: background-image 1s ease; //TODO fix transition not working on Firefox
    -moz-transition: background-image 1s ease;
    background-size: cover;
    height: 18rem;

    &__container {
      height: 12rem;
      justify-content: space-between;
    }
    &__title {
      letter-spacing: 12px;
      font-size: 2.3rem;
    }
    .light-mode-btn,
    .dark-mode-btn {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  @include respond(mobile) {
    .header {
      height: 15rem;
      &__container {
        height: 11rem;
      }
      &__title {
        font-size: 1.5rem;
      }
    }
  }

  @if $theme== "dark" {
    .dark-mode-btn {
      display: none;
    }
    .header {
      background-image: url(../img/bg-desktop-dark.jpg);
    }
  } @else {
    .light-mode-btn {
      display: none;
    }
    .header {
      background-image: url(../img/bg-desktop-light.jpg);
    }
  }
}

@mixin form($theme: "dark") {
  .form {
    font-size: 1.5rem;
    position: relative;
    top: -8rem;
    &__input {
      border: none;
      border-radius: 0.3rem;
      width: 100%;
      &::placeholder {
        color: $light-theme-darkest-gray;
      }
    }
  }

  @include respond(mobile) {
    .form {
      top: -7rem;
    }
  }

  @if $theme== "dark" {
    .form__input {
      color: $white;
      background-color: $very-dark-desaturated-blue;
      &::placeholder {
        color: $white;
      }
    }
  }
  else {
    .form__input {
      color: $light-theme-darkest-gray;
      background-color: $white;
    }
  }
}

@mixin todo-list($theme: "dark") {
  .todo__list {
    list-style: none;
    flex-direction: column;
    align-items: initial;
    position: relative;
    top: -6.8rem;
  }

  .todo__item {
    display: flex;
    align-items: center;
    &:first-child {
      border: none;
    }
    &:hover {
      .delete-btn {
        stroke: $light-grayish-blue;
      }
    }
    &.completed {
      .checkbox__label {
        opacity: 0.5;
        text-decoration: line-through;
      }
    }
  }

  .delete-btn {
    position: absolute;
    right: 0rem;
    color: $dark-theme-dark-gray;
    padding: 1rem;
  }
  .delete-btn,
  .checkbox__btn {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2rem;
    &__container {
      display: grid;
      grid-template-areas: "checkbox";
      > * {
        grid-area: checkbox;
      }
    }
    &__input {
      opacity: 0;
      width: 1em;
      height: 1em;

      &:checked + .checkbox__control .checkbox__icon {
        opacity: 1;
      }
    }
    &__control {
      display: inline-grid;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
    }
    &__icon {
      transition: opacity 0.3s ease;
      opacity: 0;
      position: relative;
      top: 0.5rem;
      left: 0.5rem;
      height: 1rem;
      width: 1rem;
      path {
        stroke: $white;
      }
    }
  }

  .todo__filter {
    display: flex;
    justify-content: space-between;
    .filter-btn {
      margin: 0 0.5rem;
    }
    .filter-btn,
    .items-left {
      border: none;
      font-size: 0.7rem;
    }
  }

  @include respond(mobile) {
    .todo__list {
      top: -5.8rem;
    }
  }

  @if $theme== "dark" {
    .todo__item {
      background: $very-dark-desaturated-blue;
      border-top: 0.5px solid $light-theme-dark-gray;
    }

    .checkbox__control {
      border: 0.5px solid $dark-theme-dark-gray;
    }
    .checkbox__input {
      &:focus + .checkbox__control {
        box-shadow: 0 0 0 0.05em $white, 0 0 0.15em 0.1em $white;
      }
    }
    .filter-btn,
    .items-left {
      color: $white;
    }
  } @else {
    .todo__item {
      background-color: $white;
      border-top: 1px solid $light-grayish-blue;
      color: $light-theme-darkest-gray;
    }

    .checkbox__control {
      border: 0.5px solid $light-grayish-blue;
    }

    .completed {
      .checkbox__control {
        background-image: linear-gradient($blue, $pink);
      }
      &:hover {
        path {
          stroke: $light-grayish-blue;
        }
      }
    }

    .checkbox__label {
      color: $light-theme-darkest-gray;
    }
    .checkbox__input {
      &:hover + .checkbox__control {
        border: double 2px transparent;
        background-image: linear-gradient($white, $white),
          radial-gradient(circle at top left, $blue, $pink);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
      &:focus + .checkbox__control {
        box-shadow: 0 0 0 0.05em $very-light-grayish-blue,
          0 0 0.15em 0.1em $very-light-grayish-blue;
      }
    }

    .filter-btn,
    .items-left {
      color: black;
    }
  }
}
