@import "./partials/base";
@import "./partials/components";

.App {
  height: 100vh;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  transition: all 1s ease;
  &.dark {
    @include header("dark");
    @include form("dark");
    @include todo-list("dark");
    background-color: hsl(235, 21%, 11%);
  }
  &.light {
    @include header("light");
    @include form("light");
    @include todo-list("light");
    background-color: $very-light-gray;
  }
}

.filter-btn {
  background: hsl(235, 24%, 19%);
  color: white;
  border: none;
  margin-left: 1rem;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}
