@import "./partials/base";
@import "./partials/components";

.App {
  height: 100vh;
  color: white;
  transition: all 1s ease;

  &.dark {
    @include header("dark");
    @include form("dark");
    @include todo-list("dark");
    background-color: hsl(235, 21%, 11%);
  }
  &.light {
    @include header("light");
    @include form("light");
    @include todo-list("light");
    background-color: $very-light-gray;
  }
}
