* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  height: 100vh;
  background-color: hsl(235, 21%, 11%);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.light {
  height: 100vh;
  background-color: hsl(0, 0%, 98%);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.dark .header {
  background-image: url(./img/bg-desktop-dark.jpg);
  height: 40vh;
  background-size: cover;
}

.light .header {
  background-image: url(./img/bg-desktop-light.jpg);
  height: 40vh;
  background-size: cover;
}

.light-mode-btn,
.dark-mode-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

header .title {
  letter-spacing: 8px;
  font-size: 2.5rem;
}

.header__container {
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 500px;
  margin: auto;
}

.App.dark .dark-mode-btn,
.App.light .light-mode-btn {
  display: none;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -15vh;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
}

.dark form input,
.dark form button {
  background-color: hsl(235, 24%, 19%);
  color: white;
}

.light form input,
.light form button {
  background-color: hsl(236, 33%, 92%);
  color: hsl(235, 19%, 35%);
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
}

.todo {
  border-bottom: 1px solid lightgray;
  font-size: 1.5rem;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.dark .todo {
  background: hsl(235, 24%, 19%);
}

.light .todo {
  background: hsl(236, 33%, 92%);
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.todo-input {
  width: 500px;
}

.trash-btn,
.complete-btn {
  background: hsl(235, 24%, 19%);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: hsl(235, 24%, 19%);
}

.filter-btn {
  background: hsl(235, 24%, 19%);
  color: white;
  border: none;
  margin-left: 1rem;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
